# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env
.env
.env*.local

# misc
*.pem
.DS_Store
*.pdb
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
next-env.d.ts